
    <!-- Contact Start -->
    <div class="container-xxl py-5 bg-white ">
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-6 wow fadeIn   centerdiv" data-wow-delay="0.1s">
              <div class="bg-transparent p-0">

                <h1 class="text-uppercase mb-4 text-center titre">Ajouter Mobilité</h1>

                <form (ngSubmit)="submitForm()" id="feedback-form">
                  <div class="row g-3">
                    <label for="images" class="drop-container" id="dropcontainer">
                        <span class="drop-title">Drop files here</span>
                        or
                        <input type="file" id="fileInput" (change)="handleFileInput($event)" accept=".jpg, .png">
                    </label>
                    <div class="col-12">
                        <div class="form-floating">
                          <input required type="text" [(ngModel)]="titre" name="Description" id="message" class="form-control bg-white" style="height: 50px"  />
                          <label for="message" class="thick">Titre d'Offre</label>
                        </div>
                      </div>

                    <div class="col-12">
                      <div class="form-floating">
                        <input required type="text" [(ngModel)]="description" name="Description" id="message" class="form-control bg-white" style="height: 50px"    />
                        <label class="thick">Offre Description</label>
                      </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                          <input required type="text" [(ngModel)]="lieu" name="Description" id="message" class="form-control bg-white" style="height: 50px"  />
                          <label for="message" class="thick">Lieu d'Offre</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating">
                          <input class="form-control bg-transparent" required type="date" [(ngModel)]="deadline" name="dateFeedback" id="dateFeedback" />
                          <label class="thick">deadline:</label>
                          <div class="status" id="status"></div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating">
                          <input required type="number" [(ngModel)]="nombreplaces" name="Description" id="message" class="form-control bg-white" style="height: 50px"  />
                          <label for="message" class="thick">Nombre De Places</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating">
                          <input required type="text" [(ngModel)]="link" name="Description" id="message" class="form-control bg-white" style="height: 50px"  />
                          <label for="message" class="thick">Lien d'Offre</label>
                        </div>
                      </div>

                    <div class="col-12">
                      <div class="form-group">

                        <button class="btn btn-secondary col-12 " style="border-radius:8px" type="submit" name="submit_reg">Submit</button>
                                          </div>
                    </div>

                </div>
                </form>
            </div>
        </div>


    </div>

      </div>
