
<div class="bg-light rounded p-4 p-sm-5 my-4 mx-3 form-container">
    <!-- Sign Up Start -->
    <form (ngSubmit)="resetPassword()" id="login-form">
    <div class="container-fluid">
      <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
              <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                  <div class="d-flex align-items-center justify-content-between mb-3">

                          <h3 class=" titre">Mobilité Internationale</h3>
                   
                   
                  </div>
                  <div class="form-floating mb-3">
               
                    <input type="number" class="form-control" id="idUser" [(ngModel)]="idUser" name="idUser" placeholder="Enter ID">
                    <label for="floatingText">ID</label>
                  </div>
                 <div class="form-floating mb-3">
               
                    <input type="email" class="form-control" id="email" [(ngModel)]="token" name="email" placeholder="Enter email">
                    <label for="floatingText">Token</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" [(ngModel)]="newpassword" name="password" placeholder="Password">
                    <label for="floatingText">Password</label>
                </div>
                
              
                  
                  <button href="/Signin" class="btn btn-danger py-3 w-100 mb-4" type="submit" name="submit_reg">Reset</button>
       
            
              </div>
          </div>
      </div>
  </div>
</form>
  <!-- Sign Up End -->



