
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.titre {
    color: red;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
  }
  .phrase{
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
  }
  .form-container {
    background-image: url("src\assets\front\img\BACKGROUND.jpg");
    background-size: auto;
    background-position: auto;
  }
  