<div class="card-row">
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Lieu</th>
        <th>Nombre de Places</th>
        <th>Deadline</th>
        <th>Link</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offre of offres">
        <td><img [src]="offre.image" alt="Offre Image" class="img-fluid" style="max-width: 100px;"></td>
        <td>{{ offre.titre }}</td>
        <td>{{ offre.description }}</td>
        <td>{{ offre.lieu }}</td>
        <td>{{ offre.nombreplaces }}</td>
        <td>{{ offre.deadline }}</td>
        <td><a [href]="offre.link" target="_blank">{{ offre.link }}</a></td>
        <td>
          <button class="btn btn-primary" (click)="redirectToCandidatureForm(offre)">Postuler</button>
          <!-- You can add other action buttons here -->
        </td>
      </tr>
    </tbody>
  </table>
  </div>
